*.a
*.cmake
*.dir
*.dll
*.dylib
*.filters
*.gcda
*.gcno
*.la
*.lib
*.lo
*.o
*.out
*.sl
*.sln
*.so
*.so.*
*.vcxproj
*.wasm
*.wasm.js
*.wat
*~
CMakeCache.txt
CMakeFiles/
DartConfiguration.tcl
Debug/
Makefile
Release/
Testing/
libtorsion
libtorsion.pc
libtorsion-*.asc
libtorsion-*.tar.gz
libtorsion-*.zip
sha256sums.txt
torsion
torsion_bench
torsion_ctgrind
torsion_test
torsion_test_static
torsion_bench.js
torsion_test.js
torsion.js
vgcore.*
x64/
