*.a
*.cmake
*.la
*.lo
*.o
*.out
*.so
*.so.*
*.wasm
*~
.deps/
.libs/
.dirstamp
CMakeCache.txt
CMakeFiles/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
ctime-test
libtool
libtorsion.pc
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
tests
tests.js
torsion.js
vgcore.*
