*.a
*.cmake
*.dir
*.dylib
*.filters
*.gcda
*.gcno
*.la
*.lo
*.o
*.out
*.sln
*.so
*.so.*
*.vcxproj
*.wasm
*.wasm.js
*.wat
*~
.deps/
.libs/
.dirstamp
CMakeCache.txt
CMakeFiles/
DartConfiguration.tcl
Debug/
Makefile
Makefile.in
Release/
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
libtool
libtorsion.pc
libtorsion-*.asc
libtorsion-*.tar.gz
libtorsion-*.zip
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
sha256sums.txt
torsion_bench
torsion_ctgrind
torsion_test
torsion_test_static
torsion_bench.js
torsion_test.js
torsion.js
vgcore.*
wasm32-wasi/
x64/
